body {
    font-family: "Muli", sans-serif;
}

h1 {
    font-size: 75px;
    margin: 0 0;
}

p {
    font-size: 20px;
    margin: 0 0;
}

input {
    width: 250px;
    height: 40px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 15px;
    margin-top: 20px;
    background-color: rgba(128,128,120, 50);
}

input::placeholder, input:focus, input {
    color: white;
    font-family: "Muli", sans-serif;
}

.home {
    text-align: center;
    margin-top: calc(50vh - calc(75px + 20px + 60px));
}