body {
    background-color: black;
}

body > p {
    text-align: center;
    color: white;
}

.settings-box {
    display: inline-block;
    width: 350px;
    border: 1px solid white;
    border-radius: 10px;
    height: 300px;
    margin-right: 30px;
    margin-top: 10px;
    text-align: center;
    font-family: "Muli", sans-serif;
}

.settings-box h1 {
    color: white;
    margin: 0 0;
}

.settings-wrapper {
    width: 100%;
    justify-content: center;
    display: flex;
}

.settings-box p {
    margin: 0 0;
    padding: 0 0;
    color: white;
}

.settings-box select, input {
    margin-bottom: 10px;
    text-align: center;
}
